Node-Red/main.json
[{"id":"a9d4a84c.a92458","type":"tab","label":"Project","disabled":false,"info":""},{"id":"9e4232f6.4a8bf","type":"grove digital sensor","z":"a9d4a84c.a92458","name":"Ultrasonic Sensor","board":"a5342f76.2164a","sensor":"ultrasonic","repeat":"120","pin":"4","x":180,"y":427,"wires":[["59c95b83.329fd4"]]},{"id":"d5c89513.fd4758","type":"grove analog sensor","z":"a9d4a84c.a92458","name":"Sound Sensor","pin":"2","sensor":"sound","repeat":"120","board":"a5342f76.2164a","x":181.5,"y":340,"wires":[["1202b62b.99a6da"]]},{"id":"1202b62b.99a6da","type":"function","z":"a9d4a84c.a92458","name":"Extract Sound Value","func":"var newMsg = { sound: msg.payload };\nreturn newMsg;","outputs":1,"noerr":0,"x":466.5,"y":344,"wires":[["5f857b05.e6dc34","dff1bbeb.1307f8"]]},{"id":"59c95b83.329fd4","type":"function","z":"a9d4a84c.a92458","name":"Extract Ultrasonic Sensor Value","func":"var newMsg = { distance: msg.payload };\nreturn newMsg;","outputs":1,"noerr":0,"x":476.5,"y":428,"wires":[["5f857b05.e6dc34","b3803266.7a909"]]},{"id":"5f857b05.e6dc34","type":"function","z":"a9d4a84c.a92458","name":"Check condition to Record Video","func":"if ( msg.sound >= 60 || ( msg.distance >= 30 && msg.distance <= 400 )) {\n    msg.payload = \"Record Video\";\n}\nelse {\n    msg.payload = \"Don't Record Video\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":848.5,"y":374,"wires":[["2117445d.3399cc"]]},{"id":"2117445d.3399cc","type":"switch","z":"a9d4a84c.a92458","name":"Path to Record Video","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Record Video","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1144.5,"y":372,"wires":[["391709fa.155966"],[]]},{"id":"391709fa.155966","type":"python-function","z":"a9d4a84c.a92458","name":"Record Video","func":"import os\nimport datetime\n \ncurrentDT = datetime.datetime.now()\ndate = (str(currentDT))\ndate = date.replace(' ','')\ndate = date.replace('-','')\ndate = date.replace(':','')\ndate = date.replace('.','')\nfile_name = \"video\" + date\n#print (date)\nos.system('raspivid -vf -hf -t 20000 -w 640 -h 480 -fps 25 -b 20000 -p 0,0,640,480 -o /home/pi/Documents/' + file_name + '.h264')\nos.system('MP4Box -add /home/pi/Documents/' + file_name + '.h264' + ' /home/pi/Documents/Videos/' + file_name + '.mp4')\nos.system('rm /home/pi/Documents/' + file_name + '.h264')\nmsg['payload'] = str('/home/pi/Documents/Videos/' + file_name + '.mp4')\nreturn msg","outputs":1,"x":156,"y":578,"wires":[["53e211de.cd794","7ea9bd39.e73c04"]]},{"id":"18cad1c3.42abde","type":"inject","z":"a9d4a84c.a92458","name":"","topic":"","payload":"","payloadType":"date","repeat":"180","crontab":"","once":true,"onceDelay":0.1,"x":200.5,"y":150,"wires":[["a1518c79.be4dc"]]},{"id":"a1518c79.be4dc","type":"camerapi-takephoto","z":"a9d4a84c.a92458","filemode":"2","filename":"image.JPEG","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"10","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"","x":405,"y":152,"wires":[["7491e494.9b17cc"]]},{"id":"66ed7e43.b0be5","type":"debug","z":"a9d4a84c.a92458","name":"Upload Image Status Message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":964,"y":151,"wires":[]},{"id":"7491e494.9b17cc","type":"Save Blob","z":"a9d4a84c.a92458","name":"Azure Save Blob Storage","x":663,"y":151,"wires":[["66ed7e43.b0be5"]]},{"id":"6342e58c.291ffc","type":"comment","z":"a9d4a84c.a92458","name":"Capture Photo","info":"This flow captures a picture for every 3 minutes of its environment in front.","x":186.5,"y":92,"wires":[]},{"id":"90190259.82e7","type":"comment","z":"a9d4a84c.a92458","name":"Record Video","info":"This flow records a video","x":165.5,"y":278,"wires":[]},{"id":"af72364f.f679e8","type":"debug","z":"a9d4a84c.a92458","name":"Upload Video Status Message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":700,"y":579,"wires":[]},{"id":"53e211de.cd794","type":"Save Blob","z":"a9d4a84c.a92458","name":"Azure Save Blob Storage","x":397,"y":579,"wires":[["af72364f.f679e8"]]},{"id":"7ea9bd39.e73c04","type":"function","z":"a9d4a84c.a92458","name":"SMS Message Content","func":"msg.payload = \"Unwarranted motion or sound detected. \\n Please Check the latest video by going Microsoft Azure Storage Account. \\n Live Streaming can be seen in http://24.19.169.187:8080\";\nreturn msg;","outputs":1,"noerr":0,"x":345.5,"y":664,"wires":[["c14356b9.5bd178"]]},{"id":"1e4b34b5.2086db","type":"sms","z":"a9d4a84c.a92458","name":"Send SMS via Twilio","message":"","numbers":"+14257853178","throttle":1000,"twilio":"8391805c.63fb","x":812,"y":656,"wires":[["cf171bfa.47b408"]]},{"id":"cf171bfa.47b408","type":"debug","z":"a9d4a84c.a92458","name":"Send Message Status Message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1101.5,"y":654,"wires":[]},{"id":"dff1bbeb.1307f8","type":"debug","z":"a9d4a84c.a92458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"sound","targetType":"msg","x":706.5,"y":281,"wires":[]},{"id":"b3803266.7a909","type":"debug","z":"a9d4a84c.a92458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"distance","targetType":"msg","x":702.5,"y":482,"wires":[]},{"id":"c14356b9.5bd178","type":"delay","z":"a9d4a84c.a92458","name":"Control SMS Count","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":578.5,"y":663,"wires":[["1e4b34b5.2086db"]]},{"id":"a5342f76.2164a","type":"board-config","z":"","board":"GrovePi"},{"id":"8391805c.63fb","type":"twilioConfig","z":"","name":"twilioConfig"}]
